*.o
*.a
*.exe
*.map
*.log
*.grp
*.cfg
*~
/xcode/*.xcodeproj/*.mode1v3
/xcode/*.xcodeproj/*.pbxuser
/xcode/*.xcodeproj/project.xcworkspace
/xcode/*.xcodeproj/xcuserdata
/xcode/build
/Makefile.user
/sw
/build
/grpfiles.cache
