[submodule "jfmact"]
	path = jfmact
	url = ../jfmact.git
[submodule "jfaudiolib"]
	path = jfaudiolib
	url = https://github.com/jonof/jfaudiolib.git
[submodule "jfbuild"]
	path = jfbuild
	url = https://github.com/jonof/jfbuild.git
